@mixin button {
    background-image: url(../image/bar-17.png);
    background-position: center;
    padding: 15px;
    margin-top: 3%;
    border: 2px solid $color_titre;
    border-radius: 12px;
    color: $color_titre;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        background-color: $color_titre;
        color: $color_white;

    }
}

@mixin titre {
    text-align: center;
    font-weight: bold;
    color: $color_titre;
}