@media only screen and (max-width: 987px) {
    .pensez {
        display: flex;
        flex-direction: column-reverse;

        &__infor {
            button {
                width: 100%;

            }
        }
    }

    &__image {
        img {
            width: 50%;
            height: auto;
        }
    }
}


@media only screen and (max-width: 987px) {
    .content2 {
        h3 {
            font-size: 25px;
        }

        .sous_titre {
            font-size: 15px;
            padding-left: 10%;
        }

        .recon {
            display: flex;
            flex-direction: column;
            padding-left: 0px;

            &__inter {
                p {
                    color: $color_white;
                    font-size: 15px;
                }
            }

            &__btns {

                button {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

            }
        }




    }

}

@media only screen and (max-width:587px) {
    .content1 {
        .row
        {
            display: flex;
            flex-wrap: nowrap !important;
        }
        
    }

}
@media only screen and (max-width: 987px) {
    .content3 {
        button
        {
           
            width: 100%;
            
            
        }
    }

}

@media only screen and (max-width: 987px) {
    .footer {
        hr {
            
            width: 100%;
            
    
        }
       .row
       {
           display: flex;
           flex-wrap: nowrap !important;
       }
    }

}

@media only screen and (max-width: 987px) {
    .protege {
        .ico
        {
            img
        {
            width: 6em;
        }
        }
        .ico1
    {
        img
        {
           
            margin-top: 3em;
        }
        .para
        {
            margin-top: 0.5em;
        }
    }

    }
    }


