   h1
   {
       color: $color_titre;
       font-weight: bold;
       text-align: center;
       padding-bottom: 2%;
   }
   
   
   .svg7 img
    {
        width: 8%;
    }
   .svg8 img
   {
       width: 18%;
   } 
.para
{
    padding-top: 2%;
    color: $color_titre;
    font-weight: bold;
    font-size: 20px;

}

.pd
{
    padding-top: 3%;
}


