.navbar {
    background-image: url(../image/bar-17.png);
}


#logo {
    color: $color_logo;
}

.imglogo {
    position: absolute;
    width: 2%;
    right: 1%;
    margin-top: 0.5%;
    margin-right: 3%;
   
}
